#chat-apa-hack{
    width: 350px;
    height: 500px;
}

#chat-apa-hack-container{
    background-color: white !important;
    position: fixed;
    bottom: 0;
    right: 40px;
    transition: bottom 0.3s ease-in-out;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

#chat-apa-hack-container.chat-apa-hack-hidden{
    bottom: -468px;
}

#chat-apa-hack-toggle{
    position: absolute;
    z-index: 3;
    color: #fff;
    padding-left: 100%;
    height: max-content;
    top: 8px;
    right: 15px;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

.ring-container{
    position: absolute; 
    top: -12px;
    left: 30px;
    transition: 0.3s opacity;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    left: 23px;
    transform: scale(0.8);
}

.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1, 1); opacity: 0.0;}
}

.ring-container.chat-apa-hack-hidden{
    opacity: 0;
    
}
